---
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

interface Props {
  src: string
  alt: string
  width: number
  height: number
}

const { src, alt, width, height } = Astro.props
---

<div class="relative flex items-center justify-center overflow-hidden rounded-lg bg-gray-100/5">
  <Image
    src={src}
    alt={alt}
    width={width}
    height={height}
    class="relative z-50 h-auto w-full transform text-[0px] transition-transform duration-300 group-hover:scale-110"
    loading="lazy"
  />
  <div class="absolute inset-0 flex items-center justify-center">
    <Icon name="mdi:cards-playing-outline" class="w-24 h-24 text-gray-500 opacity-50" />
  </div>
</div>
