---
import type { HTMLAttributes } from 'astro/types'

interface Props extends Omit<HTMLAttributes<'a'>, 'type'> {
  href?: string
  tooltip: string
  ariaLabel: string
  class?: string
  type?: 'button' | 'submit' | 'reset'
}

const { href, tooltip, ariaLabel, class: className, type, ...rest } = Astro.props
const Tag = href ? 'a' : 'button'
---

<div class="relative group">
  <Tag
    href={href}
    target={href ? '_blank' : undefined}
    rel={href ? 'noopener noreferrer' : undefined}
    aria-label={ariaLabel}
    class:list={['w-8 h-8 rounded-full bg-background flex items-center justify-center', className]}
    type={Tag === 'button' ? type || 'button' : undefined}
    {...rest}
  >
    <slot />
  </Tag>
  <div
    class="absolute z-10 bottom-full mb-2 bg-background text-text-secondary text-xs rounded py-1 px-2 pointer-events-none opacity-0 group-hover:opacity-100 transition-opacity whitespace-nowrap left-1/2 -translate-x-1/2"
  >
    {tooltip}
  </div>
</div>
