<header class="bg-surface border-b-4 border-accent">
  <div class="container mx-auto px-4 py-6">
    <a href="/" class="flex items-center gap-4">
      <h1 class="text-3xl sm:text-3xl md:text-4xl font-bold">Michael's Yugioh Decks</h1>
    </a>
  </div>
</header>
